.div-square {
    height:100px;
    width:100px;
    display: inline-block;
}

.bingo {
    background-color: pink;
}

#red {
    background-color:#FF0000;
}

#ost {
    background-color:blue;
}

#blue {
    background-color:#0000FF;
}

#yellow {
    background-color:#E2BE22;
}

#green {
    background-color:#008800;
}